@media  screen and (max-width: 419px) {
     #lezioni .row{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         width: 100%;
         justify-content: center;
         align-items: center;
         background-color: #f2f2cd;
         padding: 15px 0;
     }
    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        width: 80%;
    }
}


@media screen and (max-width: 419px) {
    #steps .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right{
        float: none;
        margin: 22px 0;
        width: 80%;
    }
}


@media screen and (max-width:419px){
    #why .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #f2f2cd;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        float: none;
        width: 80%;
        margin-top: 0;
        
    }

    #why .row .first>img,
    #why .row .second>img,
    #why .row .third>img{
        transform: scale(0.5);
    } 
}
